HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out
gen


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
### Example user template template
### Example user template


#编译后文件
*.class
#日志文件
*.log
#包文件
*.jar
*.war

#其他本地文件
.git
.idea
*.iml
*.log
*.gz
.mvn
mvnw
*.cmd
#配置文件，为避免提交至正式仓库，可根据需求选择性设置忽略
#Dockerfile
#*.yml
#*.properties
#.gitignore
#pom.xml
