<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxianggujun.wuxiangblog.mapper.BlogMapper">

    <resultMap id="User" type="com.wuxianggujun.wuxiangblog.entity.User">
        <id property="id" column="id"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="type" column="type"/>
        <result property="updateTime" column="update_time"/>
        <result property="username" column="username"/>
    </resultMap>


    <resultMap id="BaseResultMap" type="com.wuxianggujun.wuxiangblog.entity.Blog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="appreciation" column="appreciation" jdbcType="BIT"/>
        <result property="commentable" column="commentabled" jdbcType="BIT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="firstPicture" column="first_picture" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="VARCHAR"/>
        <result property="published" column="published" jdbcType="BIT"/>
        <result property="recommend" column="recommend" jdbcType="BIT"/>
        <result property="shareStatement" column="share_statement" jdbcType="BIT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="views" column="views" jdbcType="INTEGER"/>
        <result property="typeId" column="type_id" jdbcType="BIGINT"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
        <association property="type" javaType="com.wuxianggujun.wuxiangblog.entity.Type">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,appreciation,commentabled,
        content,create_time,description,
        first_picture,flag,published,
        recommend,share_statement,title,
        update_time,views,type_id,
        user_id,comment_count
    </sql>

    <!--    <select id="listBlogs" resultMap="blog">-->
    <!--        select b.id,-->
    <!--               b.title,-->
    <!--               b.update_time,-->
    <!--               b.recommend,-->
    <!--               b.published,-->
    <!--               b.type_id,-->
    <!--               t.id,-->
    <!--               t.name-->
    <!--        from wuxiangblog.t_blog b-->
    <!--                 left outer join-->
    <!--             wuxiangblog.t_type t on b.type_id = t.id-->
    <!--        order by b.create_time desc-->
    <!--    </select>-->

    <select id="list" resultType="com.wuxianggujun.wuxiangblog.entity.vo.SearchBlogVo">
        select tb.id, tb.create_time, tb.recommend, tb.title, tt.name, tu.username
        from wuxiangblog.t_blog tb
                 left join wuxiangblog.t_type tt on tb.type_id = tt.id
                 left join wuxiangblog.t_user tu on tb.user_id = tu.id
            ${ew.customSqlSegment}
    </select>

</mapper>