<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuxianggujun.wuxiangblog.mapper.UserMapper">
    <!--  int add(User user);
    useGeneratedKeys 开启某个字段的值自增
    keyProperty属性:标签将表中的哪个字段作为主键进行递增
    -->

    <select id="findUserById" parameterType="Long" resultType="com.wuxianggujun.wuxiangblog.entity.User">
        SELECT * FROM wuxiangblog.t_user
        <trim suffixOverrides="and" prefixOverrides="and">
            <where>
                <if test="id!=null">
                    and id = #{id}
                </if>
            </where>
        </trim>
    </select>

    <select id="findUserByUserName" parameterType="String" resultType="com.wuxianggujun.wuxiangblog.entity.User">
        SELECT *
        FROM wuxiangblog.t_user
        WHERE username = #{username}
    </select>


</mapper>